font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/bebas_neue/bebasneuebold.eot');
   src: url('../fonts/bebas_neue/bebasneuebold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bebas_neue/bebasneuebold.woff2') format('woff2'),
      url('../fonts/bebas_neue/bebasneuebold.woff') format('woff'),
      url('../fonts/bebas_neue/bebasneuebold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;

}




@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/bebas_neue/bebasneuelight.eot');
   src: url('../fonts/bebas_neue/bebasneuelight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bebas_neue/bebasneuelight.woff2') format('woff2'),
      url('../fonts/bebas_neue/bebasneuelight.woff') format('woff'),
      url('../fonts/bebas_neue/bebasneuelight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;

}




@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/bebas_neue/bebasneueregular.eot');
   src: url('../fonts/bebas_neue/bebasneueregular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bebas_neue/bebasneueregular.woff2') format('woff2'),
      url('../fonts/bebas_neue/bebasneueregular.woff') format('woff'),
      url('../fonts/bebas_neue/bebasneueregular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;

}




@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/bebas_neue/bebasneuethin.eot');
   src: url('../fonts/bebas_neue/bebasneuethin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bebas_neue/bebasneuethin.woff2') format('woff2'),
      url('../fonts/bebas_neue/bebasneuethin.woff') format('woff'),
      url('../fonts/bebas_neue/bebasneuethin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;

}

@font-face {
   font-family: 'Bebas Neue';
   src: url('../fonts/bebas_neue/bebasneuebook.eot');
   src: url('../fonts/bebas_neue/bebasneuebook.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bebas_neue/bebasneuebook.woff2') format('woff2'),
      url('../fonts/bebas_neue/bebasneuebook.woff') format('woff'),
      url('../fonts/bebas_neue/bebasneuebook.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}    

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');